@import "../../sass/variables.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: $color2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: $font-color;
    a{
        text-decoration: none;
    }
}