@import '../../sass/variables.scss';

.itemRepositorio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    
    border-bottom: 1px solid #e5e5e533;

    a{
        text-decoration: none;
    }
    
    h2{
        font-weight: 400;
        font-size: 18px;
        color:#FE7BE5;
    }
    p{   
        text-align: left;
        font-weight: 400;
        font-size: 13px;
        color: $font-color;
    }

    .languages{
        margin-top: 10px;
        border: none;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: $title-color;
    }
    
}