@import "../../sass/variables.scss";
@import "../../sass/responsive.scss";

.result{
    display: flex;
    margin-top: 40px;
    width: inherit;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e5e5e533;

    .imgAvatar img{
        width: 80px;
        height: 80px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid $font-color;
    }
    .infoAvatar{
        margin-left: 1rem;
        font-family: 'Titillium Web', sans-serif;
        color: $font-color;
        
        h2{
            font-weight: 400;
            font-size: 20px;
        }
        h3{
            margin-top: -3px;
            font-weight: 400;
            font-size: 12px;
        }
        p{
            margin-top: 10px;
            font-style: italic;
            font-size: 13px;
        }
    }
}
